section.features {
    position: absolute;
    left: 9.4%;
    top: 18.61%;
    width: 81.25%;
    height: auto;

    .image-1-placeholder {
        position: absolute;
        z-index: 6;
        left: 0;
        top: 0;
        width: 100%;
        height: 50vw;
    }

    .image-5-placeholder {
        position: absolute;
        z-index: 6;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50vw;
    }

    .images-pin {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50vw;
        // outline: 1px solid blue;

        .overlay {
            position: absolute;
            z-index: 6;
            left: -3px;
            top: -3px;
            width: 81.625vw;
            height: 50.375vw;
            clip-path: none;
        }

        .image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 50vw;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }

        .image-1 {
            z-index: 5;
        }

        .image-2 {
            z-index: 4;
        }

        .image-3 {
            z-index: 3;
        }

        .image-4 {
            z-index: 2;
        }

        .image-5 {
            z-index: 1;
        }

        img {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 50vw;
            object-fit: cover;
            transform: scale(1);
        }
    }

    .panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 50vw;
        // outline: 1px solid rgba(255, 0, 0, 0.25);

        .content {
            position: relative;
            width: 33.8%;
            padding: 60px;
            background: transparentize($darker-blue, 0.25);
            backdrop-filter: blur(20px);

            h2 {
                margin-bottom: 1.25vw;
                font-weight: 600;
                font-size: 2.25vw;
                color: white;
            }

            p {
                font-size: 1.125vw;
                color: $light-blue;
            }
        }

        &:nth-child(odd) .content {
            left: 50%;
        }

        &:nth-child(even) .content {
            left: 16.2%;
        }
    }
}
